// 중첩된 속성
// https://www.sassmeister.com/

.box {
  font: {
      weight: bold;
      size: 10px;
      family: sans-serif;
  };
  margin: {
      top: 10px;
      left: 20px;
  };
  padding: {
      top: 10px;
      bottom: 10px;
      left: 20px;
      right: 30px;
  };
}