// 함수
// https://www.sassmeister.com/

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function ratio($size, $ratio) {
  @return $size * $ratio
}

.box {
  $width: 160;
  width: $width;
  height: ratio($width, 9/16);
  @include center;
}